@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap');

:root {

	/*========== Colors ==========*/
	/* favorite color */
	--hue-color: 250;

	/* HSL color mode */
	--primary-color: hsl(var(--hue-color), 69%, 61%);
	--primary-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--second-color: hsl(350, 43%, 43%);
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--text-color-light: hsl(var(--hue-color), 8%, 65%);
	--body-color: hsl(var(--hue-color), 60%, 95%);
	--zindex: 1000;
	--noindex: 900;
}


button,
input {
	border: none;
	outline: none;
}

/**----------------------------------------------
 *                SCROLL BAR
 *---------------------------------------------**/

@-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}

	100% {
		opacity: 0.2;
		top: 100%
	}
}

@keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}

	100% {
		opacity: 0.2;
		top: 100%
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -50%
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -50%
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -100%
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: -100%
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: 50%
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: 50%
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: 100%
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0
	}

	100% {
		margin-left: 100%
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg)
	}

	40% {
		-webkit-transform: rotate(28deg)
	}

	100% {
		-webkit-transform: rotate(3deg)
	}
}

@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}

	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg)
	}

	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg)
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg)
	}

	40% {
		-webkit-transform: rotate(43deg)
	}

	100% {
		-webkit-transform: rotate(15deg)
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg)
	}

	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg)
	}

	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg)
	}

	40% {
		-webkit-transform: rotate(56deg)
	}

	100% {
		-webkit-transform: rotate(22deg)
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}

	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg)
	}

	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg)
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg)
	}

	40% {
		-webkit-transform: rotate(74deg)
	}

	100% {
		-webkit-transform: rotate(37deg)
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}

	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg)
	}

	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg)
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg)
	}

	40% {
		-webkit-transform: rotate(68deg)
	}

	100% {
		-webkit-transform: rotate(25deg)
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}

	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}

	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg)
	}

	40% {
		-webkit-transform: rotate(78deg)
	}

	100% {
		-webkit-transform: rotate(40deg)
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg)
	}

	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg)
	}

	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg)
	}

	40% {
		-webkit-transform: rotate(92deg)
	}

	100% {
		-webkit-transform: rotate(58deg)
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg)
	}

	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg)
	}

	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg)
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg)
	}

	40% {
		-webkit-transform: rotate(118deg)
	}

	100% {
		-webkit-transform: rotate(68deg)
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg)
	}

	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg)
	}

	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg)
	}

	40% {
		-webkit-transform: rotate(136deg)
	}

	100% {
		-webkit-transform: rotate(82deg)
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg)
	}

	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg)
	}

	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg)
	}
}

.sakura {
	background-size: contain;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}


/*******************************/

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

body.light-mode {
	background-color: #fee2f8;
	background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

body.dark-mode {
	background-color: #fee2f8;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

img {
	max-width: 100%;
	height: auto;
}

@media (max-width:768px) {
	img {
		max-width: 30%;
	}
}

@media (min-width:768px) {
	img {
		max-width: 40%;
	}
}

@media (min-width:1200px) {
	img {
		max-width: 45%;
	}
}

.button-with-img {
	padding: 0;
	border: none;
	background: none;
	display: inline-block;
}

.button-with-img img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
}


.top-right-decoration {
	z-index: var(--zindex);
	position: fixed;
	top: 0;
	right: 0;
	display: block;
}

.bottom-left-decoration {
	z-index: var(--zindex);
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	transform: rotate(-180deg);
}

@media (max-width:768px) {
	.top-right-decoration {
		z-index: -1;
	}

	.bottom-left-decoration {
		z-index: -1;
	}
}

.title h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	margin: 32px 0;
	color: var(--primary-color);
}

.title h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 24px;
	color: #e25c67;
	line-height: 1;
}

.dance-med {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-style: normal;
	font-size: 48px;
	color: var(--primary-color);
	margin: 16px;
	text-align: center;
}

.title h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 24px;
	color: var(--primary-color);
	margin-top: 5px;
}

.title p {
	color: var(--primary-color);
	margin: 30px 0 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
}

.wrap {
	height: 100vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
}


.wrap-countdown {
	display: -webkit-flex;
	flex-direction: column;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
}





.title,
.functions {
	margin-bottom: 3.5rem;
}

#time {
	width: auto;
	height: auto;
	padding: 20px;
	background-color: var(--primary-color-lighter);
	border-radius: 20px;
	font-size: 16px;
	margin-bottom: 4rem;
}

.venue {
	width: auto;
	height: auto;
	background-color: var(--primary-color);
	border-radius: .75rem;
	text-align: center;
	color: #fff;
	padding: 1rem 1.75rem;
	margin-right: 8px;
	font-weight: 600;
	transition: .3s;
}

.venue:hover {
	background-color: var(--second-color);
	color: var(--title-color);
}

.venue a {
	text-decoration: none;
	color: #fff;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 10px;
	overflow: hidden;
}


.block {
	width: 180px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.date {
	color: var(--second-color);
	font-weight: 900;
}

.place {
	color: var(--second-color);
	font-weight: 900;
}

a {
	text-decoration: none;
}

.happiness {
	z-index: var(--noindex);
	color: var(--second-color);
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
	margin-top: 3rem;
}

.floating_button {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* adds spacing between buttons */
	z-index: 1000;
}

.music-button {
	font-family: monospace;
	/* Ensures consistent glyph size */
	font-size: 2rem;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--primary-color);
	color: white;
	border: none;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	cursor: pointer;
}

.day-nigth-button {
	font-family: monospace;
	/* Ensures consistent glyph size */
	font-size: 2rem;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--primary-color);
	color: white;
	border: none;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	cursor: pointer;
}

.tile__img {
	max-width: 50%;
	text-align: center;
	height: auto;
	object-fit: cover;
}

.event-card {
	min-width: 100%;
	display: flex;
	flex-direction: row;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 12px;
	overflow: hidden;
	align-items: center;
	margin-bottom: 20px;
}


.event-image {
	flex: 0 0 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}


.event-image img {
	height: 200px;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.event-details {
	flex: 1 1 60%;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.event-title {
	font-size: 1.8rem;
	color: #6e57e0;
}

.event-date,
.event-venue,
.event-description {
	font-size: 1rem;
	color: #444;
	margin-top: 0.5rem;
}

.event-details i {
	margin-right: 0.5rem;
	color: #6e57e0;
}


@media (max-width: 768px) {
	.event-card {
		flex-direction: column;
	}
}



.actions {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	font-size: 12px;
	letter-spacing: 0pt;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
}

blockquote {
	z-index: var(--noindex);
	position: relative;
	padding-left: 30px;
	font-weight: 600;
	color: var(--primary-color);
	padding: 1em;
	padding-right: 0.25em;
	margin-left: 2.25em;
	margin-right: 0.2em;
	max-width: 35em;
	font-size: 15px;
}

blockquote::before {
	content: "“";
	font-family: serif;
	position: absolute;
	right: 100%;
	font-size: 75px;
	line-height: 0px;
	top: 50px;
	color: var(--primary-color);
	animation: dancing 1s linear infinite;
	display: inline-block;
	transform: rotate(13deg);
}

blockquote::after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	width: 80px;
	height: 5px;
	background: var(--second-color);
	left: 1em;
}

/*=============== BUTTONS ===============*/
.button {
	display: flex;
	gap: 0.6rem;
	color: #fff;
	background-color: var(--primary-color);
	padding: 1rem 1.75rem;
	border-radius: .5rem;
	font-weight: 600;
	transition: .3s;
}

.button:hover {
	background-color: var(--second-color);
	color: var(--title-color);
}

.d-block {
	display: block !important;
}

.loading {
	display: none;
	text-align: center;
	padding: 15px;
}

.loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #eee;
	border-top-color: var(--primary-color);
	animation: animate-loading 1s linear infinite;
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Responsive Table Style */


.swal2-popup {
	border-radius: 0.75rem;
}

.swal2-html-container {
	font-size: 16px !important;
	font-weight: 600 !important;
}


a {
	padding: 0px 10px 0px 10px;
}

.flipTimebox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
}

@media screen and (max-width: 767px) {
	.flipTimebox .flip-clock-wrapper ul {
		height: 50px;
		line-height: 50px;
	}

	.flipTimebox .flip-clock-wrapper ul li {
		line-height: 50px;
	}

	.flipTimebox .flip-clock-wrapper ul li a div.up:after {
		top: 24px;
	}

	.flipTimebox .flip-clock-divider {
		height: 50px;
	}

	.flipTimebox .flip-clock-dot {
		height: 6px;
		width: 6px;
		left: 7px;
	}

	.flipTimebox .flip-clock-dot.top {
		top: 17px;
	}

	.flipTimebox .flip-clock-dot.bottom {
		bottom: 8px;
	}

	.flipTimebox .flip-clock-divider.days .flip-clock-label {
		right: -58px;
	}

	.flipTimebox .flip-clock-divider.hours .flip-clock-label {
		right: -62px;
	}

	.flipTimebox .flip-clock-divider.minutes .flip-clock-label {
		right: -68px;
	}

	.flipTimebox .flip-clock-divider.seconds .flip-clock-label {
		right: -69px;
	}

	.flipTimebox .flip-clock-wrapper ul {
		width: 37px;
		margin: 2px;
	}

	.flipTimebox .flip-clock-wrapper ul li a div div.inn {
		font-size: 38px;
	}

	.flipTimebox .flip-clock-meridium {
		font-size: 20px !important;
	}
}

@media screen and (max-width: 568px) {
	.flipTimebox .flip-clock-wrapper ul {
		margin: 2px;
	}

	.flipTimebox .flip-clock-divider {
		width: 5px;
	}

	.flipTimebox .flip-clock-dot {
		height: 5px;
		width: 5px;
		left: 0;
	}

	.flipTimebox .flip-clock-divider.days .flip-clock-label {
		right: -58px;
	}

	.flipTimebox .flip-clock-divider.hours .flip-clock-label {
		right: -62px;
	}

	.flipTimebox .flip-clock-divider.minutes .flip-clock-label {
		right: -68px;
	}

	.flipTimebox .flip-clock-divider.seconds .flip-clock-label {
		right: -69px;
	}

	.flipTimebox .flip-clock-meridium {
		font-size: 18px !important;
	}
}

@media screen and (max-width: 480px) {
	.flipTimemodulesboxes {
		padding: 0;
	}

	.flipTimebox .flip-clock-divider .flip-clock-label {
		font-size: 1em;
	}

	.flipTimebox .flip-clock-divider.days .flip-clock-label {
		right: -33px;
	}

	.flipTimebox .flip-clock-divider.hours .flip-clock-label {
		right: -37px;
	}

	.flipTimebox .flip-clock-divider.minutes .flip-clock-label {
		right: -43px;
	}

	.flipTimebox .flip-clock-divider.seconds .flip-clock-label {
		right: -45px;
	}

	.flipTimebox .flip-clock-wrapper ul li a div div.inn {
		font-size: 28px;
	}

	.flipTimebox .flip-clock-meridium {
		font-size: 14px !important;
	}

	.flipTimebox .flip-clock-wrapper ul.flip {
		width: 27px;
		background-color: transparent;
		box-shadow: none;
		margin-left: -8px;
	}

	.flipTimebox .flip-clock-wrapper ul li {
		width: 30px;
	}

	.flipTimebox .flip-clock-dot {
		margin-left: -10px;
	}

	.flipTimebox {
		margin: 50px 0 100px 20px;
	}
}

@media screen and (max-width: 360px) {
	.flipTimebox .flip-clock-divider .flip-clock-label {
		font-size: 1em;
		width: 3px;
	}

	.flipTimebox .flip-clock-divider.days .flip-clock-label {
		right: -1px;
	}

	.flipTimebox .flip-clock-divider.hours .flip-clock-label {
		right: 2px;
	}

	.flipTimebox .flip-clock-divider.minutes .flip-clock-label {
		right: 6px;
	}

	.flipTimebox .flip-clock-divider.seconds .flip-clock-label {
		right: 9px;
	}

	.flipTimebox .flip-clock-wrapper ul.flip {
		width: 25px;
		margin-left: -14px;
	}

	.flipTimebox .flip-clock-wrapper {
		padding-left: 5px;
	}

	.flipTimebox .flip-clock-wrapper ul li {
		width: 25px;
	}

	.flipTimebox .flip-clock-dot {
		margin-left: -16px;
	}

	.flipTimebox {
		margin: 50px 0 100px 20px;
	}
}

@media screen and (max-width: 320px) {
	.flipTimebox .flip-clock-wrapper {
		padding-left: 5px;
	}

	.flipTimebox .flip-clock-wrapper ul.flip {
		width: 22px;
		margin-left: -16px;
	}

	.flipTimebox .flip-clock-wrapper ul li {
		width: 22px;
	}

	.flipTimebox .flip-clock-dot {
		margin-left: -18px;
	}

	.flipTimebox .flip-clock-divider.days .flip-clock-label {
		right: 3px;
	}

	.flipTimebox .flip-clock-divider.hours .flip-clock-label {
		right: 6px;
	}

	.flipTimebox .flip-clock-divider.minutes .flip-clock-label {
		right: 11px;
	}

	.flipTimebox .flip-clock-divider.seconds .flip-clock-label {
		right: 14px;
	}
}

.flip-clock-wrapper {
	margin: 4em !important;
}

.flip-clock-divider .flip-clock-label {
	color: black !important;
	font-size: 14px !important;
	font-weight: bold !important;
	font-family: Sofia Sans Condensed !important;
}

.nav-bar {
	position: fixed;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80vw;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 10px 20px;
	border-radius: 10px;
	z-index: 999;
}

.logo {
	height: 40px;
	display: flex;
	align-items: center;
}

.nav-links {
	display: flex;
	gap: 20px;
	margin: 0 auto;
	font-family: 'Dancing Script', cursive;
}

.nav-links a {
	font-size: 20px;
	text-decoration: none;
	color: #6e57e0;
	transition: transform 0.2s ease;
}

.nav-links a:hover {
	transform: scale(1.2);
}

@media (max-width: 767px) {
	.nav-bar {
		display: none;
	}
}